@model NguyenVanDuoc_2210900016_Project2.Models.NvdAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NvdAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NvdUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvdPassWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdPassWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvdFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvdEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvdPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvdActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvdActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NvdID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
