@model IEnumerable<NguyenVanDuoc_2210900016_Project2.Models.NvdAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NvdUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvdPassWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvdFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvdEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvdPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvdActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NvdUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvdPassWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvdFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvdEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvdPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvdActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NvdID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NvdID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NvdID })
        </td>
    </tr>
}

</table>
