@model IEnumerable<NguyenVanDuoc_2210900016_Project2.Models.chitietdonhang>

@{
    ViewBag.Title = "chitietdonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách chi tiết đơn hàng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaCTDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donhang.MaDon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sanpham.TenSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaCTDH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donhang.MaDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sanpham.TenSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaCTDH }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaCTDH }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaCTDH }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
